@charset "UTF-8";
body {
    margin: 0;
}
header {
    width: 100%;
    height: 100px;
    border-bottom: solid black 2px;
    line-height: 100px;
}
header #menu {
    float: right;
}
header #menu a {
    height: 100%;
    margin-right: 60px;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: #4a4a4a;
}
header #menu a:hover {
    text-shadow: 0px 0px 20px black; 
}
#introduction {
    width: 100%;
    height: 600px;
    border: black solid 1px;
    display: flex;
    box-shadow: 0px 0px 5px #4a4a4a;
}
#introduction #me {
    width: 400px;
    height: 400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: 100px;
    border: black solid 1px;
    border-radius: 200px;
}
#introduction #profile {
    width: 400px;
    height: 400px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: auto;
    border-left: black solid 1px;
    padding: 30px;
}
#programming {
    width: 100%;
    height: 120px;
}
#programming .languages {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#programming .languages .language {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 35px;
    margin-right: 35px;
}
#programming .languages .language img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}
#codingSkill {
    width: 100%;
    height: 700px;
    text-align: center;
}
#codingSkill .skillset1 {
    width: 550px;
    height: 600px;
    margin: 50px;
    margin-right: 5%;
    display: inline-flex;
    flex-direction: column;
}
#codingSkill .skillset2 {
    width: 550px;
    height: 600px;
    margin: 50px;
    margin-left: 5%;
    display: inline-flex;
    flex-direction: column;
}
#codingSkill .skill {
    margin-bottom: 30px;
}
#codingSkill .skill .title {
    vertical-align: middle;
    margin-right: 100px;
    text-align: left;
    font-size: 40px;
    color: #4a4a4a;
}

#codingSkill .skill .bar {
    vertical-align: middle;
    text-align: left;
    width: 500px;
    height: 50px;
    border-radius: 25px;
    background-color: #f9f9f9;
    position: relative;
    line-height: 50px;
}
  
#codingSkill .skill .bar .inner-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    background: yellow;
    border-radius: 25px;
}
  
#codingSkill .skill .bar .percentage {
    font-size: 50px;
    color: #9b9b9b;
    position: absolute;
    right: 20px;
    top: 0;
  }

