.Skills {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #494949;
}
.Skills .it_item {
    color:#fff;
}
.codingSkill {
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section {
    width: 100%;
}
.a {
    color:black;
    text-decoration: none;
}
.ht {
        color: white;
        text-align: center;
}