.career {
    height: 1500px;
    color: #fff;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 500px 500px;
}
.career .school {
    width: 400px;
}
.career .certificate {
    width: 400px;
}
.career .company {
    width: 400px;
}
.career .club {
    width: 400px;
}
.career .career_title {
    
}
.career .career_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}
.section {
    width: 100%;
}
.a {
    color:black;
    text-decoration: none;
}
.ht {
    color: white;
    text-align: center;
}