@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}
section {
    width: 100%;
}
a {
    color:black;
    text-decoration: none;
}
header {
    width: 100%;
    height: 100px;
    line-height: 100px;
}
header #menu {
    float: right;
}
header #menu a {
    height: 100%;
    margin-right: 60px;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}
header #menu a:hover {
    color: green;
}
#home {
    height: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
}
#home #me img {
    width: 400px;
    height: 400px;
    margin-top: 50px;
}
#home #profile {
    height: 400px;
    margin-top: 50px;
    margin-left: 50px;
    padding: 30px;
    color:#fff;
}
#home #profile #aboutMe, #channel {
    opacity: 70%;
} 
#home #profile a {
    color: #fff;
}
#home #contact {
    display: flex;
    justify-content: center;
    align-content: center;
}
#home #contact #aboutMe {
    width: 100%;
    color: #fff;
}
#home #contact #channel {
    width: 100%;
    color: #fff;
}

#Skills {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #494949;
}
#Skills .it_item {
    color:#fff;
}
#codingSkill {
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#projects {
    height: 650px;
    display: flex;
    flex-direction: column
}
#projects .project_list {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#projects .project_list .project {
    width: 400px;
    height: 450px;
    color: #fff;
}
#projects .project_list .project img {
    width: 100%;
    height: 400px;
}
#projects .project_list .project span a {
    color: #fff;
    text-align: center;
    display: block;
}
#projects .project_bar {
    width: 100%;
    height: 50px;
    border: 1px solid #12a7e7;
    color: #fff;
}
#career {
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#career #study {
    display: flex;
    justify-content:space-around;
}
#career #study #school {
    display: flex;
    flex-direction: row;
    align-items: center;
}