@charset "UTF-8";
body {
    margin: 0;
    background-color: #000000;
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    height: 100px;
    line-height: 100px;
}
header #menu {
    float: right;
}
header #menu a {
    height: 100%;
    margin-right: 60px;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}
header #menu a:hover {
    color: green;
}
#home {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
}
#home #me {
    width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-right: 50px;
    border-radius: 200px;
}
#home #profile {
    height: 400px;
    margin-top: 50px;
    margin-left: 50px;
    padding: 30px;
    color:#fff;
}
#home #contact {
    display: flex;
    justify-content: center;
    align-content: center;
}
#home #contact #aboutMe {
    width: 100%;
    color: #fff;
}
#home #contact #channel {
    width: 100%;
    color: #fff;
}

#Skills {
    width: 100%;
    height: 120px;
    background-color: #494949;
}
#Skills .it {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#Skills .it .it_item {
    display: inline-block;
    padding: 50px;
    width: 100px;
    height: 100px;
    margin-left: 35px;
    margin-right: 35px;
    color:#fff;
}
#codingSkill {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#codingSkill .skillset {
    display: inline-block;
    padding: 50px;
    width: 100px;
    height: 100px;
    margin-left: 35px;
    margin-right: 35px;
}
#codingSkill .skill {
    display: block;
    margin-bottom: 20px;
}
#codingSkill .skill .title {
    font-size: 20px;
    color: #ffffff;
}
#projects {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column
}
#projects .project_list {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#projects .project_list .project {
    width: 400px;
    height: 450px;
    color: #fff;
}
#projects .project_list .project img {
    width: 100%;
    height: 400px;
}
#projects .project_list .project span a {
    color: #fff;
    text-align: center;
    display: block;
}
#projects .project_bar {
    width: 100%;
    height: 50px;
    border: 1px solid #12a7e7;
    color: #fff;
}
