.home {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.homeTop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.home .me .img {
    width: 400px;
    height: 400px;
    margin-top: 50px;
}
.home .profile {
    height: 400px;
    margin-top: 50px;
    margin-left: 50px;
    padding: 30px;
    color:#fff;
}
.home .profile .aboutMe, .channel {
    opacity: 70%;
} 
.home .profile .a {
    color: #fff;
    text-decoration: none;
}
.home .contact {
    display: flex;
    justify-content: center;
    align-content: center;
}
.home .contact .aboutMe {
    width: 100%;
    color: #fff;
}
.home .contact .channel {
    width: 100%;
    color: #fff;
}

.intro {
    font-size: 20px;
    color: #fff;
    max-width: 800px;
    margin-top: 16px;
    text-align: left;
    line-height: 1.6;
    opacity: 0.85;
}